<div class="page">
  <div class="shellbar">
    <ui5-shellbar
      id="shellbar"
      primary-title="Create Salesman Profile Application"
      notifications-count="99+"
      show-notifications=""
    >
      <ui5-avatar slot="profile">
        <img
          src="https://sap.github.io/ui5-webcomponents/images/avatars/woman_avatar_5.png"
        />
      </ui5-avatar>
      <img
        slot="logo"
        src="https://sap.github.io/ui5-webcomponents/images/sap-logo-svg.svg"
      />
      <ui5-button icon="nav-back" slot="startButton"></ui5-button>

      <ui5-input
        id="searchField"
        slot="searchField"
        placeholder="search everything"
      ></ui5-input>
      <ui5-li slot="menuItems">Application 1</ui5-li>
      <ui5-li slot="menuItems">Application 2</ui5-li>
      <ui5-li slot="menuItems">Application 3</ui5-li>
      <ui5-li slot="menuItems">Application 4</ui5-li>
      <ui5-li slot="menuItems">Application 5</ui5-li>
    </ui5-shellbar>
  </div>

  <div class="object_header">
    <div class="header">
      <div class="toolbar">
        <div class="title">
          <ui5-title level="H2">Create Salesman Profile</ui5-title>
          <div class="frame">
            <ui5-label for="myInput">Supplier Code:</ui5-label>
            <ui5-input id="valueHelpInput" placeholder="Enter product">
              <ui5-icon
                id="valueHelpIcon"
                slot="icon"
                name="value-help"
              ></ui5-icon>
            </ui5-input>
          </div>
        </div>
      </div>
    </div>
    <div class="icon_toolbar">
      <ui5-tabcontainer>
        <ui5-tab
          text="Master Data"
        ><app-master-data></app-master-data></ui5-tab>
        <ui5-tab text="Contribution Data"><app-contribution-data></app-contribution-data></ui5-tab>
        <ui5-tab
          text="Machine data"
        ><app-machine-data></app-machine-data></ui5-tab>
        <ui5-tab text="Additional Data"><app-additional-data></app-additional-data></ui5-tab>
        <ui5-tab text="Notes"><app-notes></app-notes></ui5-tab>
        <ui5-tab text="Attachment"><app-attachment></app-attachment></ui5-tab>
      </ui5-tabcontainer>
    </div>
  </div>


  <div slot="footer" id="footer">
    <ui5-bar>
      <ui5-button design="Emphasized" slot="endContent"
        >Save and Exit</ui5-button
      >
      <ui5-button slot="endContent" icon="slim-arrow-down"
        >Save and Go To</ui5-button
      >
      <ui5-button design="Transparent" slot="endContent">Cancel</ui5-button>
    </ui5-bar>
  </div>
</div>
