<div class="content" style="width: 100%; height: 300px;">
    <div class="master_data">
      <div class="form">
        <div class="sec-1">
          <div class="form_group1">
            <p><b>Profile Data</b></p>
            <ui5-label>Starting Date:</ui5-label><br />
            <ui5-date-picker class="date_picker" value="2024-02-29">
            </ui5-date-picker
            ><br />

            <ui5-label>Ending Date:</ui5-label><br />
            <ui5-date-picker class="date_picker" value="2024-02-29">
            </ui5-date-picker
            ><br />

            <ui5-checkbox text="Subject To Accounting"></ui5-checkbox><br />
            <ui5-checkbox text="Salesman Pre-Invoice point"></ui5-checkbox>
          </div>
          <div class="form_group2">
            <p><b>Salesman/ Subsalesman</b></p>
            <ui5-checkbox
              text="Subsalesman with supplier Code"
              indeterminate
              checked
              
            ></ui5-checkbox
            ><br />

            <ui5-checkbox
              text="Subsalesman with supplier Code"
              indeterminate
            ></ui5-checkbox
            ><br />

            <ui5-label>Salesman Code:</ui5-label><br>
            <ui5-input placeholder="123"></ui5-input>
          </div>

          <div class="form_group3">
            <p><b>Configuration Details</b></p>
            <ui5-label>Settlement Frequency:</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Settlement frequency</ui5-option>
            </ui5-select><br>

            <ui5-label>Type of Relationship:</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Type of relationship</ui5-option>
            </ui5-select><br>

            <ui5-label>Salesman Type:</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Salesman type</ui5-option>
            </ui5-select><br>

            <ui5-label>Settlement Currency:</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Settlement currency</ui5-option>
            </ui5-select><br>
          </div>
          <div class="form_group4">
            <ui5-label>Collaborator Type:</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Collaborator type</ui5-option>
            </ui5-select><br>

            <ui5-label>Settlement Form:</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Settlement form</ui5-option>
            </ui5-select><br>

            <ui5-label>Sector of Activity</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Sector of activity</ui5-option>
            </ui5-select><br>

            <ui5-label>Sending Method:</ui5-label><br>
            <ui5-select class="option">
              <ui5-option>Sending method</ui5-option>
            </ui5-select><br>

          </div>
        </div>
      </div>
    </div>
  </div>